<style>
   body {
   	font-family: Arial, sans-serif;

   	; 
   }
   h1 {

   	font-size: 45px;
   	color: #116AAA;
   	text-decoration: underline;

   	}

   
   
   
   h2, h3, h4, h5 {

   	font-size: 25px;
   	color: #116AAA;
   	text-decoration: underline;
   
   }
   